In [3]:
# Use Ctrl+M+L to show the line number
# download data from local computer directory # Dua, D. and Graff, C. (2019). 
# UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. #Irvine, CA: University of California, School of Information and Computer Science.
# ISTANBUL STOCK EXCHANGE Data Set
url="https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls"

In [4]:
# Import Python Libraries
import pandas as pd
import numpy as np
import datetime 
import statistics
# plotting
import matplotlib as mpl
# machline learning package 
import sklearn as skl

In [5]:
#import pandas as pd
# save to a dataFolder
# open the excel file, delete the first row, save the file. Hint: use header parameter in the read_excel function.

In [6]:
df = pd.read_excel('data_akbilgic.xlsx',header =1)

/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [7]:
df.head()

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802

In [8]:
df.shape

(536, 10)

In [9]:
# exercises below

In [10]:
# first three records

# print names of all the fields in the data

# print first five records with selected fields "date", "ISE", "SP", "DAX"

# print last five records with selected fields "date", "ISE", "SP", "DAX"

In [11]:
#first three records

#print(df.iloc[:3])
df.iloc[:3]

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015

In [12]:
# print names of all the fields in the data

cols = list(df.columns)
print(cols)

['date', 'ISE', 'ISE.1', 'SP', 'DAX', 'FTSE', 'NIKKEI', 'BOVESPA', 'EU', 'EM']

In [13]:
# print first five records with selected fields "date", "ISE", "SP", "DAX"

print(df[['date','ISE','SP','DAX']][:5])

        date       ISE        SP       DAX
0 2009-01-05  0.035754 -0.004679  0.002193
1 2009-01-06  0.025426  0.007787  0.008455
2 2009-01-07 -0.028862 -0.030469 -0.017833
3 2009-01-08 -0.062208  0.003391 -0.011726
4 2009-01-09  0.009860 -0.021533 -0.019873

In [14]:
# print last five records with selected fields "date", "ISE", "SP", "DAX"

print(df[['date','ISE','SP','DAX']][-5:])

          date       ISE        SP       DAX
531 2011-02-16  0.008599  0.006238  0.001925
532 2011-02-17  0.009310  0.003071 -0.001186
533 2011-02-18  0.000191  0.001923  0.002872
534 2011-02-21 -0.013069 -0.020742 -0.014239
535 2011-02-22 -0.007246  0.000000 -0.000473

In [15]:
# create a few variable named "SP_GE_zero" 
# "SP_GE_zero" == 1 if the value of field "SP" >=0 ; else "SP_GE_zero" ==0
# print the datatype of "SP_GE_zero"

In [16]:
# create a few variable named "SP_GE_zero" 

SP_GE_zero = []

In [17]:
# "SP_GE_zero" == 1 if the value of field "SP" >=0 ; else "SP_GE_zero" ==0
for i in range(len(df['SP'])):
    if df['SP'][i]>=0:
        SP_GE_zero.append(1)
    else:
        SP_GE_zero.append(0)

In [18]:
# print the datatype of "SP_GE_zero" 

type(SP_GE_zero)

list

In [19]:
# print the datatype of "SP_GE_zero" 

print('The datatype of SP_GE_zero is List')

The datatype of SP_GE_zero is List

In [20]:
df['SP_GE_zero'] = SP_GE_zero

In [21]:
df.head()

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM,SP_GE_zero
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524,0
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773,1
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015,0
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424,1
4,2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802,0

In [22]:
# A summary of descriptive statistics for all data columns, including count, mean, std, min, max etc.

In [23]:
# A summary of descriptive statistics for all data columns, including count, mean, std, min, max etc.

df.describe()

,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM,SP_GE_zero
count,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000
mean,0.001629,0.001552,0.000643,0.000721,0.000510,0.000308,0.000935,0.000471,0.000936,0.582090
std,0.016264,0.021122,0.014093,0.014557,0.012656,0.014850,0.015751,0.012990,0.010501,0.493676
min,-0.062208,-0.084716,-0.054262,-0.052331,-0.054816,-0.050448,-0.053849,-0.048817,-0.038564,0.000000
25%,-0.006669,-0.009753,-0.004675,-0.006212,-0.005808,-0.007407,-0.007215,-0.005952,-0.004911,0.000000
50%,0.002189,0.002643,0.000876,0.000887,0.000409,0.000000,0.000279,0.000196,0.001077,1.000000
75%,0.010584,0.013809,0.006706,0.008224,0.007428,0.007882,0.008881,0.007792,0.006423,1.000000
max,0.068952,0.100621,0.068366,0.058951,0.050323,0.061229,0.063792,0.067042,0.047805,1.000000

In [24]:
# A summary of max for columns "NIKKEI", "BOVESPA", "EU"

print('Max for column NIKKEI is' ,max(df['NIKKEI']))
print('Max for column BOVESPA is' ,max(df['BOVESPA']))
print('Max for column EU is' ,max(df['EU']))

Max for column NIKKEI is 0.061229315
Max for column BOVESPA is 0.06379152
Max for column EU is 0.067042467

In [25]:
# A summary of standard deviation for "SP" and "ISE"

In [26]:
print('Standard Deviation for SP is ', statistics.stdev(df['SP']))
print('Standard Deviation for ISE is ', statistics.stdev(df['ISE']))

Standard Deviation for SP is  0.014092959525029126
Standard Deviation for ISE is  0.016264270138653475

In [27]:
# Get the mean, median, min for ['SP','DAX','FTSE', 'NIKKEI','BOVESPA']

In [28]:
np.mean(df[['SP','DAX','FTSE', 'NIKKEI','BOVESPA']])

SP         0.000643
DAX        0.000721
FTSE       0.000510
NIKKEI     0.000308
BOVESPA    0.000935
dtype: float64

In [29]:
np.median(df[['SP','DAX','FTSE', 'NIKKEI','BOVESPA']])

0.0005076085000000001

In [30]:
l = ['SP','DAX','FTSE', 'NIKKEI','BOVESPA']
for i in range(len(l)):
    median = np.median(df[l[i]])
    print(l[i],' -',median)

SP  - 0.0008763530000000001
DAX  - 0.0008874894999999999
FTSE  - 0.00040862799999999996
NIKKEI  - 0.0
BOVESPA  - 0.0002789745

In [31]:
np.min(df[['SP','DAX','FTSE', 'NIKKEI','BOVESPA']])

SP        -0.054262
DAX       -0.052331
FTSE      -0.054816
NIKKEI    -0.050448
BOVESPA   -0.053849
dtype: float64

In [32]:
# Bonus exercise, Exercise manually calculate standard deviation of 'SP' for the top 10 record 
# and check with the Python output
# Show your calculations# Hint: use head() method to subset the first 10 records

In [42]:
df.head(10).std(axis = 0, skipna = True)

date          3 days 23:29:55.287925823
ISE                            0.032869
ISE.1                           0.03938
SP                             0.016279
DAX                            0.016338
FTSE                           0.018747
NIKKEI                         0.027203
BOVESPA                        0.031522
EU                             0.017038
EM                             0.017207
SP_GE_zero                     0.527046
dtype: object

In [19]:
# randomly select 10 records from df

In [34]:
# randomly select 10 records from df
df.sample(10)

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM,SP_GE_zero
136,2009-07-17,-0.011324,-0.009282,-0.000383,0.004270,0.006171,0.005460,0.002962,0.006393,0.010282,0
429,2010-09-17,0.002025,-0.000664,0.000827,-0.006403,-0.005720,0.012186,-0.008519,-0.005120,0.003107,1
27,2009-02-11,-0.022106,-0.033893,0.007923,0.005434,0.005019,-0.030745,-0.008799,0.001097,-0.007926,1
9,2009-01-16,0.022037,0.032278,0.007533,0.006791,0.006289,0.025453,0.004867,0.008561,0.010917,1
236,2009-12-14,0.016307,0.010667,0.006935,0.007954,0.010154,-0.000217,0.001183,0.008030,0.004325,1
481,2010-12-08,-0.002491,-0.012462,0.003695,-0.003726,-0.002413,0.008956,-0.016915,0.001569,-0.007650,1
351,2010-05-27,0.007264,0.014993,0.032347,0.030634,0.030706,0.012218,0.031111,0.029857,0.017184,1
398,2010-08-02,0.013711,0.022125,0.021784,0.023178,0.026111,0.003455,0.014732,0.025195,0.015749,1
231,2009-12-07,-0.003724,-0.011418,-0.002471,-0.005671,-0.002201,0.014365,0.013342,-0.003358,0.000403,0
461,2010-11-04,0.032986,0.042670,0.019099,0.017509,0.019601,0.000000,0.015059,0.016419,0.010737,1

In [35]:
# select the fifty row from df
df[49:50]

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM,SP_GE_zero
49,2009-03-13,0.003213,0.034067,0.007709,-0.000662,0.011144,0.05026,-0.003505,0.006194,0.018689,1

In [36]:
# find out all data types for all fields
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        536 non-null    datetime64[ns]
 1   ISE         536 non-null    float64
 2   ISE.1       536 non-null    float64
 3   SP          536 non-null    float64
 4   DAX         536 non-null    float64
 5   FTSE        536 non-null    float64
 6   NIKKEI      536 non-null    float64
 7   BOVESPA     536 non-null    float64
 8   EU          536 non-null    float64
 9   EM          536 non-null    float64
 10  SP_GE_zero  536 non-null    int64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 46.2 KB

In [37]:
# select the third columsn from df
# summarize grouped by column "SP_GE_zero"

In [38]:
# select the third columsn from df
df[2:3]

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM,SP_GE_zero
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015,0

In [39]:
# summarize grouped by column "SP_GE_zero" 
group = df.groupby('SP_GE_zero')

#print the first values in each group 
group.first()

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
SP_GE_zero,,,,,,,,,,
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.03119,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.01892,0.011341,0.008773